angular-app/Report.docx
angular-app/output.jpg
angular-app/source-code.jpg
design-shell/output.jpg
design-shell/design-shell.docx
design-shell/design-shell.zip
team-budget-planner/team-budget-planner.docx
team-budget-planner/team-budget-planner.zip
team-budget-planner/output-home.jpg
team-budget-planner/output-programManagers.jpg
team-budget-planner/output-financeTeams.jpg
simply-blogging/simply-blogging.docx
simply-blogging/simply-blogging.zip
simply-blogging/screenshots/
cart-management/cart-management.docx
cart-management/cart-management.zip
cart-management/screenshots/

# compiled output
myPortfolio/dist
myPortfolio/tmp
myPortfolio/out-tsc
# Only exists if Bazel was run
myPortfolio/bazel-out

# dependencies
myPortfolio/node_modules

# profiling files
myPortfolio/chrome-profiler-events*.json
myPortfolio/speed-measure-plugin*.json

# IDEs and editors
myPortfolio/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# misc
myPortfolio/.sass-cache
myPortfolio/connect.lock
myPortfolio/coverage
myPortfolio/libpeerconnection.log
myPortfolio/npm-debug.log
myPortfolio/yarn-error.log
myPortfolio/testem.log
myPortfolio/typings

myPortfolio/myPortfolio.zip
myPortfolio/myPortfolio.docx

online-test/online-test.zip
online-test/online-test.docx
online-test/screenshots

task-tracker/task-tracker.zip
task-tracker/task-tracker.docx
task-tracker/screenshots

log-records/node_modules
log-records/screenshots
log-records/log-records.docx
log-records/log-records.zip

task-planner/screenshots
task-planner/task-planner.zip
task-planner/task-planner.docx


chatting/chatting.docx
chatting/chatting.zip
chatting/screenshots
chatting/node_modules

call-record/call-record.docx
call-record/call-record.zip
call-record/screenshots
call-record/node_modules

chatlog/screenshots
chatlog/node_modules
chatlog/chatlog.zip
chatlog/chatlog.docx

mongo-website/screenshots
mongo-website/node_modules
mongo-website/mongo-website.docx
mongo-website/mongo-website.zip

docker-pipeline/screenshots
docker-pipeline/docker-pipeline.docx
docker-pipeline docker-pipeline.zip
