angular-app/Report.docx
angular-app/output.jpg
angular-app/source-code.jpg
design-shell/output.jpg
design-shell/design-shell.docx
design-shell/design-shell.zip
team-budget-planner/team-budget-planner.docx
team-budget-planner/team-budget-planner.zip
team-budget-planner/output-home.jpg
team-budget-planner/output-programManagers.jpg
team-budget-planner/output-financeTeams.jpg
simply-blogging/simply-blogging.docx
simply-blogging/simply-blogging.zip
simply-blogging/screenshots/