<h1 style="text-align: center;">Add Employee task</h1>
<div class="center">

    <form #empRef="ngForm" (ngSubmit)="storeTask(empRef.value)">
        <mat-form-field appearance="fill">
            <mat-label>ID</mat-label>
            <input matInput type="text" name="id" ngModel required/>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput type="text" name="name" ngModel required/>
        </mat-form-field>
        <br>
        <mat-form-field style="width: 412px;" appearance="fill">
            <mat-label>Task</mat-label>
            <textarea matInput type="text" name="task" ngModel required> </textarea>
        </mat-form-field>
        <br>


        <div class="center-form">
            <mat-form-field appearance="fill">
                <input matInput [matDatepicker]="deadline" placeholder="Choose a date" name="deadline" ngModel required>
                <mat-datepicker-toggle matSuffix [for]="deadline"></mat-datepicker-toggle>
                <mat-datepicker #deadline></mat-datepicker>
            </mat-form-field>
            <br>
            <button mat-stroked-button color="primary" style="background-color:black; margin: 10px;"
                type="submit">Store</button>
            <button mat-stroked-button color="secondary" style="margin: 10px;" type="reset" value="Reset">Reset</button>

        </div>

    </form>
</div>